*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/Project_Default.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
kotlin-compiler
/.kotlin/sessions
/.kotlin/errors
.idea/
kotlinc.xml
/.idea/inspectionProfiles
deploymentTargetSelector.xml
deploymentTargetSelector
/.idea/deploymentTargetSelector.xml
/.idea/deploymentTargetSelector
*.json
*.dm